.recommend-block{
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    min-height: 248px;
    padding:  0 24px;
    h1{
        font-size: 25px;
    }
    p{
        font-size: 18px;
    }
}